{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Movie System</title>
    <link rel="stylesheet" href="{% static 'abc.css' %}">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head> 
<body>

    <div class="w-full m-0 p-0 bg-cover bg-bottom" style=" height: 60vh; max-height:460px;">
        <div class="container max-w-4xl mx-auto pt-16 md:pt-11 text-center break-normal">
            <!--Title-->
                <p class="text-white font-extrabold text-3xl md:text-5xl">
                    👻 Movie Recommender
                </p>
                <p class="text-xl md:text-2xl text-white-500">Welcome To all My Visitor</p>
                <p class="text-xl md:text-2xl pt-11 text-neutral-200">Please Enter one Movie Which you liked in the past.
So that we can give you recommendations.
                </p>
        </div>
        <div class="wrapper">
            <div class="search-input">
                <form action="recommendations" role="form" method="POST">
                    {% csrf_token %}
              <a href="" target="_blank" hidden></a>
              
              <input type="text" list ="input" name="name" placeholder="Type to search Movie in our   ">
          
               <datalist id="input"> {% for movie in movies %}
                   <option value ="{{movie}}">{{movie}}</option>
                   {% endfor %}
              
               </datalist>
              
            
              <button type="submit"  name="movie_name" class="icon"><i class="fas fa-search"  ></i></button>
            </form>
            </div>
          </div>

    </div>
    <h1 class="text-white font-extrabold text-3xl md:text-3xl">Top Movies Currently all over the Internet  </h1>
    <section class="overflow-hidden text-gray-700 "> 
      <div class="grid grid-cols-5 gap-9">
        {% for item1, item2 in top %} 
      
        
            <div class="image ">
                <img src="{{item2}}" alt="">
                <div class="details">
                  <h2><span>{{item1}}</span></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <div class="more">
                    <a href="#" class="read-more">Read <span>More</span></a>
                    <div class="icon-links">
                      <a href="#"><i class="fas fa-heart"></i></a>
                      <a href="#"><i class="fas fa-eye"></i></a>
                      <a href="#"><i class="fas fa-paperclip"></i></a>
                    </div>
                  </div>
                </div>
              </div>
      
       
        
        {% endfor %}
      
    </div>
    </section>
    
       <!-- <script src="{% static 'suggestions.js' %}"></script>  -->
  

    
</body>
</html>