{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Movie System</title>
    
</head> 
<body>
    
    <div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-">
  
        <div class="py-3 sm:max-w-xl sm:mx-auto">
          <div class="bg-white shadow-lg border-gray-100 max-h-80	 border sm:rounded-3xl p-8 flex space-x-8">
            {% for item1, item2, item3 in mylist2 %} 
            <div class="h-48 overflow-visible w-1/2">
               
                <img class="rounded-3xl shadow-lg" src="{{item2}}" alt="">
                
             </div>
            <div class="flex flex-col w-1/2 space-y-4">
              <div class="flex justify-between items-start">
                <h2 class="text-3xl font-bold">{{item1}}</h2>
                <div class="bg-yellow-400 font-bold rounded-xl p-2">{{item3}}</div>
              </div>
              <div> 
                <div class="text-sm text-gray-400">Series</div>
                <div class="text-lg text-gray-800">2019</div>
              </div>
                <p class=" text-gray-400 max-h-40 overflow-y-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <div class="flex text-2xl font-bold text-a">Watch Movie</div>
            </div>
            {% endfor %}
          </div>
        </div>
        
      </div>



    <div class="flex flex-1  flex-wrap p-5 gap-9">
        {% for item1, item2 in mylist %} 
        <div class="p-1 bg-white-100 rounded shadow-lg shadow-2xl  rounded-lg w-80 h-90">
            <!--Card 1-->
            <form hidden="true" action="recommendations" method="POST">
                {% csrf_token %}
                <input type="text" hidden="true" name="name" value="{{item1}}">
                <input type="submit" id="recommendations-btn{{item1}}" name="movie_name">
            </form>
    
                <div class="" >
                  <div  class="md:flex md:justify-center font-bold px-2 py-2 text-center">
                    <a href="javascript:;" onclick="document.getElementById('recommendations-btn{{item1}}').click();" class="action-item">Get Recommendations</a>
                    <a title="Get Recommendations" href="" type="submit" name="recommendations"
                    class="action-item"></a>
                    
     
                    
                  </div>
    
               <a  href="{{item2}}" target="_blank"> <img class="w-24 h-24  mx-auto  h-auto " style="image-rendering: pixelated;
                " src="{{item2}}" alt="Mountain"></a>
                
                <div class="px-3  justify-center   flex flex-col items-center justify-center pt-8 py-3">
    
                    <div class="name  bold font-awesome text-xl mb-2 p-1 " style="-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;"> {{item1}}</div>
                    <!-- password modal-->
                    
                </div>
                
            </div>
      
        </div>
        {% endfor %}
    </div>
   
    
    

    
</body>
</html>