{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="{% static 'movie.css' %}">

    <title>Movie System</title>
    
</head> 
<body style="background: darkslateblue;">

  <div class="container max-w-4xl mx-auto pt-10 md:pt-11 text-center break-normal">
    <!--Title-->
        <p class="text-white font-extrabold text-3xl md:text-5xl">
            <a href="/">👻 Movie Recommender</a>
        </p>
      
</div>
  
      
      <div class="md:flex banner justify-center rounded-xl  md:p-2 ">     
        {% for item1, item2, genre ,backdrop,overview,rating in mylist2 %}  
          <div class=" border-gray-100 	 	banner border sm: p-3 flex space-x-8">
           
            <div class="overflow-visible">
               
                <img class="rounded shadow-lg w-24 h-24 md:w-48 md:h-auto " src="{{item2}}" alt="">
                
             </div>
            <div class="flex flex-col w-1/2 space-y-4">
              <div class="flex">
                <h2 style="margin-top: 10px;" class="label text-white">Genre :  </h2>
                {% for i in genre %}
                <button class="bg-blue-300 hover:bg-blue-200 text-black font py-1 px-2 m-1 rounded-xl">
                 {{i}}
                </button>
            
                {% endfor %}
               
              </div>
              <div class="flex justify-between items-start">
                <h2 class="text-4xl text-white font-bold">{{item1}}</h2>
                <div class="bg-yellow-200  font-bold rounded-xl p-2">{{rating}}</div>
              </div>
              <div> 
         
              </div>
                <p class=" text-white  max-h-40 overflow-y-hidden">{{overview}}</p>
              <div class="flex text-2xl font-bold  text-a">Know More</div>
            </div>
            
          </div>
          {% endfor %}
        </div>
        
        
      


      <div class="container mx-auto my-6 lg:px-16 px-4">
        <ul class="flex items-center leading-normal text-black-500 font-alt">
          <li class=" font-medium  text-white	 text-xl ">Recommendations : </li>
         
        </ul>
      </div>
    
    
    <section class="overflow-hidden text-gray-700 "> 
      <div class="flex flex-wrap  justify-center">
        
        {% for title , poster, genre, backdrop,rating,overview  in mylist %} 
          
        <div class="movie basis-1/5">
            <div class="genre-info">
              <span class="label">Genre : </span>
              {% for i in genre %}
              <span class="pills">{{i}}</span>
              {% endfor %}
            </div>
            <form hidden="true" action="recommendations" method="POST">
              {% csrf_token %}
              <input type="text" hidden="true" name="name" value="{{title}}">
              <input type="submit" id="recommendations-btn{{title}}" name="movie_name">
          </form>
            <div  class="md:flex text-neutral-50 md:justify-center font-bold px-2 py-2 text-center">
              <a href="javascript:;" onclick="document.getElementById('recommendations-btn{{title}}').click();" class="action-item">Get Recommendations</a>
              <a title="Get Recommendations" href="" type="submit" name="recommendations"
              class="action-item"></a>
        
            </div>
            <img src="{{poster}}" alt="{{name}}">
      
            <div class="movie-info">
                <h3>{{title}}</h3>
                <span class="orange">{{rating}}</span>
            </div>
              
            <div class="overview">
          
                <h3>Overview</h3>
                <p>{{overview}}
                </p>
                <br> 
                <button class="know-more" id="{{id1}}">Know More</button>
          
              </div>
        </div>
      {% endfor %}
      
        
         
          
        
        
      </div>
          
    </section>
 


    
</body>
</html>